Source: libfdata
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: https://github.com/libyal/libfdata/

Package: libfdata
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfdata-dbg
Description: Library to provide generic file data functions
 libfdata is a library to provide generic file data functions.

Package: libfdata-dbg
Architecture: any
Section: debug
Depends: libfdata (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libfdata
 Debugging symbols for libfdata.

Package: libfdata-dev
Section: libdevel
Architecture: any
Depends: libfdata (= ${Source-Version})
Description: Header files and libraries for developing applications for libfdata
 Header files and libraries for developing applications for libfdata.

